<meta charset="gb2312">
<div class="sub-menu" id="menuLeft">
    <div id="m-home" class="menu-item 0">
        <a href="#/"><span class="icon i-home"></span><span class="menu-text">企业空间</span></a>
    </div>
    <div id="m-personal" class="menu-item 0">
        <a href="#/files/self"><span class="icon i-personal"></span><span class="menu-text">个人文件</span></a>
    </div>
    <div id="m-shared" class="menu-item 0">
        <a href="#/share"><span class="icon i-shared"></span><span class="menu-text">我的共享</span></a>
    </div>
</div>
